body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: -0.03%;
  bottom: 90.66%;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
}

.nav-logo {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* background-color: salmon; */
  margin-left: -200px;
}

.nav-links a {
  margin-left: 40px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.nav-auth {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /* width: 500px; */
  /* background-color: salmon; */
}

.nav-auth button {
  margin: 10px;
  border: none;
  background: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/main-bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  /* background-color: salmon; */
}

.home-text {
  color: white;
  text-align: center;
}

.home-text h1 {
  /* position: relative; */
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}

.home-text h3 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #ffffff;
}

.home-btn {
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
  width: 260px;
  height: 60px;
  text-transform: uppercase;
}

.home-container a {
  position: absolute;
  bottom: 61.29px;
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  text-transform: uppercase;
  color: #ffffff;
}

#triangle-down {
  width: 0;
  height: 0;
  position: absolute;
  border-top: 30px solid rgba(255, 255, 255, 0.5);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  bottom: 0;
}

/* gallery start */
.game-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url(./assets/the-games-bg.jpg);
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  /* background-color: salmon; */
  flex-wrap: wrap;
  overflow: hidden;
}

.game-text {
  display: flex;
  flex-direction: column;
  margin-top: 85px;
  margin-left: 79.55px;
  /* background-color: salmon; */
}

.game-text h3 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #ffffff;
}

.game-text h1 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: #ffffff;
}

.game-carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

#carousel-triangle-left {
  margin-right: 11px;
  width: 0;
  height: 0;
  border-right: 30px solid rgba(255, 255, 255, 0.5);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

#carousel-triangle-right {
  margin-left: 11px;
  width: 0;
  height: 0;
  border-left: 30px solid rgba(255, 255, 255, 0.5);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.game-carousel img {
  height: 477px;
  width: 858px;
}
/* game end */

/* feature start */
.feature-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: salmon; */
  background-image: url(./assets/features.jpg);
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.blank-div-feature {
  width: 50%;
}

.feature-inner-container {
  width: 50%;
  margin-left: 50px;
}

.feature-inner-container h3 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */

  letter-spacing: 2px;

  color: #ffffff;
}

.feature-inner-container h1 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}

.feature-inner-container p {
  margin-left: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */

  text-align: justify;

  color: #ffffff;
}

.point-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 25px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  margin-left: -25px;
}

.point-container h2 {
  margin-left: 20px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffb548;
}
/* feature end */

/* requirement start */
.req-container {
  display: flex;
  flex-direction: column;
  background-image: url(./assets/requirements.png);
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.req-container h3 {
  text-align: center;
  margin-top: 100px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;

  color: #ffffff;
}

.req-container-division {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: salmon; */
  margin-left: 120px;
}

.req-inner-container {
  width: 50%;
  margin-left: 50px;
  /* background-color: green; */
}

.req-inner-container h1 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: #ffffff;
}

.blank-div-req {
  width: 50%;
  /* background-color: purple; */
}

.req-inner-container table,
tr {
  border: 1px solid #979797;
  border-collapse: collapse;
}

#td-div {
  border: 1px solid white;
  padding: 20px;
}

.p-req-title {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #ffb548;
}

.p-req-desc {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
/* requirement end */

/* testimoni start */
.testi-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: url(./assets/top-score-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  /* background-color: green; */
  overflow: hidden;
}

.outer-score-container {
  display: flex;
  flex-direction: col;
  justify-content: center;
  width: 50%;
  height: 100vh;
  /* background-color: yellow; */
}

.score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}

.score-container h1 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}

.score-container p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.score-btn {
  width: 260px;
  height: 60px;
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
}

.comment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-bottom: 147.69px; */
  /* margin-top: 140px; */
  margin-left: 193px;
  /* background-color: salmon; */
  width: 50%;
  height: 100%;
  flex-wrap: wrap;
}

.comment-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 452px;
  height: 182px;
  background: rgb(51, 49, 49);
  margin-top: 20px;
  border-radius: 10px;
}

.profile-tweet {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 12.13px;
  margin-top: 11.03px;
  padding-top: 15px;
  /* background-color: saddlebrown; */
  width: 90%;
}

.message-tweet {
  margin-top: 22.74px;
  margin-left: 15px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.date-tweet {
  margin-top: 8.51px;
  margin-left: 15px;
  margin-bottom: 21.13px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.profile-img {
  position: relative;
  margin-left: 5px;
}

#profile-photo {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: absolute;
}

#profile-photo-bg {
  margin-left: 10px;
  margin-top: 3px;
}

.bio-text {
  margin-left: 12.37px;
}

#tweet-name {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #ffb548;
}

#twitter-card {
  margin-left: auto;
}

#tweet-one {
  margin-left: 146.12px;
}

#tweet-three {
  margin-left: 105.79px;
}
/* testimoni end */

/* subscribtion start */
.subs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(8, 10, 11, 1);
}

.subs-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /* background-color: salmon; */
  width: 100%;
  flex-wrap: wrap;
}
/* subscribtion end */

.subs-content img {
  padding-top: 49.98px;
  height: ;
  background: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080a0b 99.74%);
  /* width: 40%; */
  /* background-color: #f3af34; */
}

.subs-inner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* background-color: green; */
  width: 60%;
  margin-left: 67.45px;
  padding-right: 128.29px;
}

.subs-inner-content h1 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 75px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}

.subs-inner-content h3 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #ffffff;
}

.subs-inner-content p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */

  color: #ffffff;
}

.subs-input {
  display: flex;
  flex-direction: row;
}

.subs-input input {
  background: rgba(255, 255, 255, 0.08);
  width: 366.92px;
  height: 60px;
  border-radius: 5px;
  color: rgba(255, 181, 72, 1);
}

.subs-input button {
  width: 260px;
  height: 60.25px;
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
}

.subs-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 136px;
  width: 100%;
  /* background-color: green; */
}

.empty-subs-div {
  width: 10%;
  /* background-color: yellow; */
}

.subs-navbar-links {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-around;
  /* background-color: salmon; */
  margin-top: 58px;
  margin-bottom: 40px;
}

.subs-navbar-links a {
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.subs-border {
  border: 1px solid white;
  margin: auto;
  width: 79%;
}

.subs-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 22px;
}

.subs-footer a {
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.subs-footer-inner a + a:before {
  content: "|";
  padding: 0 10px;
}
